html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Kode Mono", monospace;
}
body {
  background-color: black;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
section {
  min-height: 100vh;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
